#canvas{
background-color: white;
}

body{
    background-color: green;
    display: flex;
    justify-content: center;
}

.texto{
    position: absolute;
    top:50px;
    text-align: center;
    font-size: 20px; 
}